<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuronum: The E2E Web Engine</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="page-container">

  <div class="github-icon">
    <a href="https://www.github.com/neuronumcybernetics" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>

  <div class="connect-container">
    <div class="connect-card">
      <div class="card-title">CONNECT CELL</div>
      <div class="card-logo-place">
        <img src="/static/logo.png" class="card-logo">
      </div>
      <div class="card-meta">connect to network</div>

      <form id="connectCellForm" action="/connectCell" method="post" enctype="multipart/form-data">
        <div class="connect-input-container">
          {% if password and email %}
          <input type="email" class="connect-input" id="email" name="email" style="color: white;" placeholder="email address" value="{{ email }}" required>
          <input type="password" class="connect-input" id="password" name="password" style="color: white;" placeholder="password" value="{{ password }}" required>
          {% else %}
          <input type="email" class="connect-input" id="email" name="email" style="color: white;" placeholder="email address" required>
          <input type="password" class="connect-input" id="password" name="password" style="color: white;" placeholder="password" required>
          {% endif %}
        </div>
        <button type="button" id="connectCell" class="submit-button">connect</button>
      </form>
    </div>

    <div class="footer-container">
      <a href="/" class="back-button">
        <i class="fas fa-long-arrow-alt-left"></i>
      </a>
      <div class="fixed-footer">
        <a href="/">
          <img src="/static/logo.png" alt="Neuronum Logo - A Cyber Neuron" class="footer-logo">
        </a>
        <a class="footer-mail" href="mailto:welcome@neuronum.net">welcome@neuronum.net</a>
      </div>
    </div>
  </div>

  <div id="termspopup" class="terms-popup">
      <div class="terms-popup-meta">
        By using our services, you agree to our
        <a href="https://neuronum.net/legals" target="_blank">Terms & Conditions</a>
        and the collection and use of data as described in our
        <a href="https://neuronum.net/legals" target="_blank">Privacy Policy</a>
      </div>
      <button class="terms-close" id="termsclose">
        <span>close window</span>
      </button>
  </div>

   <div id="customAlert" class="custom-alert">
      <div class="custom-alert-title">
      Alert Title
      </div>
      <div class="custom-alert-meta">
      Alert!
      and the collection and use of data as described in our
      </div>
      <button class="alert-close" id="alertClose">
        <span>close window</span>
      </button>
    </div>


  <script>
    document.getElementById('connectCell').addEventListener('click', function () {
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      const fields = [
        { value: email, message: 'Please enter an email address' },
        { value: password, message: 'Please enter a password' }
      ];

      for (const field of fields) {
        if (field.value.length === 0) {
          showCustomAlert("Missing Field", field.message);
          return;
        }
      }

      const requestData = { email, password };

      fetch('https://neuronum.net/api/connect_cell', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(requestData)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.host) {
          localStorage.setItem('email', email);
          localStorage.setItem('host', data.host);
          localStorage.setItem('password', password);
          window.location.href = '/cellkey';
        } else {
          showCustomAlert("Login Failed", data.message || "Please check your credentials.");
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        showCustomAlert("Connection Error", "Connection failed, please try again!");
      });
    });

      function showCustomAlert(title, message) {
        const alertBox = document.getElementById('customAlert');
        alertBox.querySelector('.custom-alert-title').innerText = title;
        alertBox.querySelector('.custom-alert-meta').innerText = message;
        alertBox.style.display = 'flex';

        setTimeout(() => {
          alertBox.style.opacity = 1;
        }, 10);
      }

        document.getElementById('alertClose').addEventListener('click', () => {
        const alertBox = document.getElementById('customAlert');
        alertBox.style.opacity = 0;
        setTimeout(() => {
          alertBox.style.display = 'none';
        }, 300);
      });
  </script>

</body>
</html>
