<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuronum: The Real-Time E2E Browser</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  <body class="card-container">

   <header class="header-container">
      <div class="header-name">
        NEURONUM CYBERNETICS UG <span>&copy;</span> 2025
      </div>
    </header>

    <div class="create-cell-container-choose">

      <div class="create-cell-chooser">
        <div class="card-title">COMMUNITY</div>
        <div class="card-meta">community cell</div>
        <div class="use-case-meta" style="color: rgb(255, 255, 255); font-weight: 500">
          For Developers exploring Neuronum’s Web Tools and Ecosystem
          <br><br class="desktop">
          <ul>
            <li>🛠️ Access to Nodes, Library, CLI-Tools</li><br>
            <li>🌐 Build private Nodes and Data Streams</li><br>
          </ul>
        </div>
        <button type="button" id="createCellCommunity" class="submit-button">create cell</button>
      </div>

    </div>


    
  
     <footer class="footer-container">
      <a href="/" class="back-button">
        <i class="fas fa-long-arrow-alt-left"></i>
      </a>
      <div class="fixed-footer">
        <a href="/">
          <img src="/static/logo.png" alt="Neuronum Logo - A Cyber Neuron" class="footer-logo">
        </a>
        <a class="footer-mail" href="mailto:welcome@neuronum.net">welcome@neuronum.net</a>
      </div>
    </footer>

    <script>

    document.getElementById('createCellCommunity').addEventListener('click', function() {
        const url = `/create_community_cell`;
          window.location.href = url;
    });
    </script>

  </body>
</html>
