<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neuronum: The E2E Web Engine</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>

  <body class="page-container">

    <header class="header-container">
      <div class="header-name">
        NEURONUM CYBERNETICS UG <span>&copy;</span> 2025
      </div>
    </header>

    <div class="github-icon">
      <a href="https://www.github.com/neuronumcybernetics" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <main class="hero-card">
      <img src="/static/logo.png" alt="Neuronum Logo" class="hero-logo">
      <div class="hero-title">
        <em><b>NEURONUM BROWSER vZERO.ZERO.ONE</b></em><br>
        <b>THE E2E WEB ENGINE</b>
      </div>
      <div class="link-container">
        <a href="/connect_cell" class="link">
          CONNECT CELL <i class="fas fa-long-arrow-alt-right"></i>
        </a>
        <a href="/create_cell" class="link">
          CREATE CELL <i class="fas fa-long-arrow-alt-right"></i>
        </a>
        <a href="https://github.com/neuronumcybernetics/neuronum" class="link" target="_blank" id="connect-as-guest">
          BUILD ON NEURONUM<i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </main>

    <footer class="footer-container">
      <div class="fixed-footer">
        <a href="/">
          <img src="/static/logo.png" alt="Neuronum Logo - A Cyber Neuron" class="footer-logo">
        </a>
        <a class="footer-mail" href="mailto:welcome@neuronum.net">welcome@neuronum.net</a>
      </div>
    </footer>

    <div id="termspopup" class="terms-popup">
      <div class="terms-popup-meta">
        By using our services, you agree to our
        <a href="https://neuronum.net/legals" target="_blank">Terms & Conditions</a>
        and the collection and use of data as described in our
        <a href="https://neuronum.net/legals" target="_blank">Privacy Policy</a>
      </div>
      <button class="terms-close" id="termsclose">
        <span>close window</span>
      </button>
    </div>


    <div id="customAlert" class="custom-alert">
      <div class="custom-alert-title">
      Alert Title
      </div>
      <div class="custom-alert-meta">
      Alert!
      and the collection and use of data as described in our
      </div>
      <button class="alert-close" id="alertClose">
        <span>close window</span>
      </button>
    </div>

  <script>
    window.onload = function() {
      const { invoke } = window.__TAURI__.core;

      const popup = document.getElementById('termspopup');
      const closeBtn = document.getElementById('termsclose');
      const currentDate = new Date().getTime();
      const agreedTimestamp = localStorage.getItem('agreedTimestamp');
      const EXPIRATION_PERIOD = 30 * 24 * 60 * 60 * 1000;

      if (!agreedTimestamp || currentDate - agreedTimestamp > EXPIRATION_PERIOD) {
        popup.style.display = 'flex';
        setTimeout(() => {
          popup.classList.add('show');
        }, 10);
      }

      closeBtn.onclick = function() {
        localStorage.setItem('agreedTimestamp', currentDate);
        popup.classList.remove('show');
        setTimeout(() => {
          popup.style.display = 'none';
        }, 500);
      };
    };
  </script>

</body>
</html>